@import 'tailwindcss';

@theme {
  --color-primary: #19A800;
  --color-primary-dark: #148000;
  --color-primary-light: #4cff33;
  
  --font-sans: var(--font-montserrat), system-ui, sans-serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these styles to make sure everything still looks the same.
  Feel free to remove them if you don't need them.
*/

@layer base {
  :root {
    color-scheme: light;
  }

  body {
    @apply antialiased;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white font-semibold py-2 px-4 rounded-lg hover:bg-primary-dark transition-colors;
  }
  
  .btn-outline {
    @apply border-2 border-primary text-primary font-semibold py-2 px-4 rounded-lg hover:bg-primary/10 transition-colors;
  }
}